---
import Layout from '../../layouts/Layout.astro';
import TarjetaCard from '../../components/tarjetas/TarjetaCard.astro';
import TarjetaWelcome from '../../components/tarjetas/TarjetaWelcome.astro';
import Filters from '../../components/tarjetas/Filters.astro';
import ResultsCounter from '../../components/tarjetas/ResultsCounter.astro';
import NoResults from '../../components/tarjetas/NoResults.astro';
import { getTarjetas, getBancos } from '../../lib/contentful';

const [tarjetas, bancos] = await Promise.all([
  getTarjetas(),
  getBancos()
]);

const breadcrumb = [
  { label: 'Inicio', href: '/' },
  { label: 'Tarjetas de Crédito', href: '/tarjetas-de-credito', current: true }
];
---

<Layout
  title="Tarjetas de Crédito"
  description="Tenemos el listado más completo y detallado de tarjetas de crédito en Chile"
>
  <TarjetaWelcome breadcrumb={breadcrumb} />
  <main class="container mx-auto px-4 py-8">
    <div class="space-y-8">
      <Filters tarjetas={tarjetas} bancos={bancos} />
      <div>
        <ResultsCounter total={tarjetas.length} />
        <div id="results-container">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {tarjetas.map((tarjeta) => (
              <TarjetaCard tarjeta={tarjeta} />
            ))}
          </div>
          <div id="no-results" class="hidden">
            <NoResults />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>